$top-bar-height: 50px;

#chara-top-bar {
    $border-bottom-size: 1px;
    display: flex;
    align-items: center;

    height: $top-bar-height - $border-bottom-size;
    background: #d2b985;
    border-bottom: solid $border-bottom-size #503c1b;
}

#chara-zone {
    $padding-top: 15px;
    $padding-bottom: 20px;

    overflow-y: scroll;
    padding: $padding-top 5px $padding-bottom 5px;
    height: calc(100% - #{$padding-top + $padding-bottom + $top-bar-height});
    background: #f9f6f0;
}

/*-------------------------*/
#chara-top-bar {
    padding: 0 30px;

    .push-button {
        margin: 0 10px;
    }
}


/*-------------------------*/
 #chara-zone > div {
    $name-width: 400px;
    $name-height: 30px;

    $state-cat-width: 90px;
    $state-width: 210px;
    $state-height: 33px;

    $portrait-right: 10px;
    $portrait-width: 150px;
    $portrait-height: $state-height * 4;

    $skill-left: 10px;

    $plate-width: $portrait-width + $portrait-right + $state-width;
    $plate-margin: 30px;


    padding: 0 25px;
    user-select: text;

    &.hide {
        display: none;
    }

    &:not(:first-child):not(.first) {
        padding-top: 50px;
        background: url(../images/divider3.png) center 5px no-repeat;
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    div.name { 
        margin-bottom: 10px;
        padding: 1px 5px;
        width: $name-width;
        height: $name-height;

        font-weight: bold;
        line-height: $name-height;
        
        border: solid 2px #9c8a7f;
        border-radius: 5px;
        
        background: url(../images/texture_paper.jpg);
    }

    div.plate {
        float: left;
        width: $plate-width;
        
        div.portrait { 
            float: left;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            margin-right: $portrait-right;
            width: $portrait-width; 
            height: $portrait-height;

            img {
                width: 100px;
                height: 100px;
            }
        }

        div.state, div.state::before {
            display: inline-block;
            width: $state-width;
            height: $state-height;
            line-height: $state-height;
        }

        div.state::before {
            width: $state-cat-width;
        }

        div.hp::before {     content: "HP:"; }
        div.atk::before {    content: "攻撃力:"; }
        div.def::before {    content: "防御力:"; }
        div.spd::before {    content: "移動力:"; }

        div.skill {
            $margin-side: 15px;
            margin: 13px $margin-side 10px #{$skill-left + $margin-side};
            width: $plate-width - $margin-side * 2;

            background: linear-gradient(135deg, #4b413b 0%, #4c423d 100%);
            box-shadow: 
                0 0 0 1px rgb(124, 119, 107),
                0 0 0 2px rgb(179, 175, 147),
                0 0 0 3px rgb(149, 142,  93),
                0 0 0 4px rgb(116, 106,  74),
                0 0 0 5px rgb(182, 161, 115);
            
            font-family: 'M PLUS 1c Rounded';

            div.skill-name { 
                margin: 0;
                padding: 3px 5px;
                background: linear-gradient(135deg, #f3dab4 0%, #f3dab4 100%);
                color: #503c1b;
            }

            div.skill-rate::before { content: "発動率: "; }
            div.skill-rate { 
                padding: 5px 10px;
                color: #f7cfab;
                font-size: 12pt;
                text-align: right;
            }

            div.skill-text { 
                padding: 8px 5px;
                color: #fefaee;
                font-size: 14pt;
                line-height: 20px;
            }
        }
    }

    div.abilities { 
        margin-left: $plate-width + $plate-margin;

        div.ability { 
            margin: 0px;
            display: flex;
            align-items: center;
            padding: 4px 5px 4px 50px;
            min-height: 50px;
            background: 5px center no-repeat;
        }

        div.ability-inner { 
            display: flex;
            align-items: center;
        }

        span.note { 
            display: inline-block;
            color: #934e10;
            font-size: 14pt;
            font-family: 'M PLUS 1c Rounded';
        }

        div:not(:last-child) { 
            border-bottom: solid 2px #8a7e25;
        }
    }
}

/*-------------------------*/

#basic-filter, #ability-filter {
    $foot-height: 100px;

    .body {
        $margin-top: 30px;
        $margin-side: 30px;
        $padding-top: 30px;
        $padding-bottom: 10px;
        $padding-side: 30px;
        
        display: block;
        
        overflow-x: hidden;
        overflow-y: auto;

        margin: $margin-top $margin-side 0 $margin-side;
        padding: $padding-top $padding-side $padding-bottom $padding-side;
        width: calc(100% - #{$margin-side * 2 + $padding-side * 2});
        height: calc(100% - #{$margin-top + $foot-height + $padding-top + $padding-bottom});
        
        background: #e9e6d0;
        box-shadow: 0 0 1px 1px rgb(75, 56, 24);

        .cate {
            margin-bottom: 25px;
            display: flex;
            align-items: center;

            .head {
                display: inline-block;
                padding-right: 20px;
                width: 130px;
                font-size: 14pt;
                text-align: right;
            }

            .button-group {
                $button-min-width: 70px;
                $button-height: 35px;

                display: inline-flex;
                margin: 0;
                height: $button-height;
                
                border-radius: 2px;
                box-shadow: 
                    0 0 0 1px rgb( 83,  81,  82),
                    0 0 0 2px rgb( 40,  42,  35),
                    0 0 0 3px rgb( 83,  81,  82);

                .button {
                    display: inline-flex;
                    margin: 0;
                    padding: 0 15px;
                    min-width: $button-min-width;
                    height: $button-height;
                    
                    border-radius: 0;
                    box-shadow: 0 0 0 0;

                    font-size: 14pt;
                    text-shadow: 
                        2px 1px 0 #000,
                        0 0 15px #ccc;

                    &:hover {
                        text-shadow: 2px 1px 0 #000;
                    }

                    &:first-child {    border-radius: 2px 0 0 2px; }
                    &:last-child {     border-radius: 0 2px 2px 0; }
                    &:not(:last-child) {    border-right: solid 1px #777; }
                }

            }
        }
    }

    .foot {
        display: flex;
        height: $foot-height;
        
        justify-content: center;
        align-items: center;

        .push-button {
            margin: 12px 35px;
        }

        .push-button.confirm {
            --letter-space: 30px;
            padding: 0;
            letter-spacing: var(--letter-space);
            text-indent: var(--letter-space);
        }
    }
}
