@charset "UTF-8";
#chara-top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
  background: #d2b985;
  border-bottom: solid 1px #503c1b;
}

#chara-zone {
  overflow-y: scroll;
  padding: 15px 5px 20px 5px;
  height: calc(100% - 85px);
  background: #f9f6f0;
}

/*-------------------------*/
#chara-top-bar {
  padding: 0 30px;
}

#chara-top-bar .push-button {
  margin: 0 10px;
}

/*-------------------------*/
#chara-zone > div {
  padding: 0 25px;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

#chara-zone > div.hide {
  display: none;
}

#chara-zone > div:not(:first-child):not(.first) {
  padding-top: 50px;
  background: url(../images/divider3.png) center 5px no-repeat;
}

#chara-zone > div::after {
  content: "";
  display: block;
  clear: both;
}

#chara-zone > div div.name {
  margin-bottom: 10px;
  padding: 1px 5px;
  width: 400px;
  height: 30px;
  font-weight: bold;
  line-height: 30px;
  border: solid 2px #9c8a7f;
  border-radius: 5px;
  background: url(../images/texture_paper.jpg);
}

#chara-zone > div div.plate {
  float: left;
  width: 370px;
}

#chara-zone > div div.plate div.portrait {
  float: left;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  width: 150px;
  height: 132px;
}

#chara-zone > div div.plate div.portrait img {
  width: 100px;
  height: 100px;
}

#chara-zone > div div.plate div.state, #chara-zone > div div.plate div.state::before {
  display: inline-block;
  width: 210px;
  height: 33px;
  line-height: 33px;
}

#chara-zone > div div.plate div.state::before {
  width: 90px;
}

#chara-zone > div div.plate div.hp::before {
  content: "HP:";
}

#chara-zone > div div.plate div.atk::before {
  content: "攻撃力:";
}

#chara-zone > div div.plate div.def::before {
  content: "防御力:";
}

#chara-zone > div div.plate div.spd::before {
  content: "移動力:";
}

#chara-zone > div div.plate div.skill {
  margin: 13px 15px 10px 25px;
  width: 340px;
  background: linear-gradient(135deg, #4b413b 0%, #4c423d 100%);
  -webkit-box-shadow: 0 0 0 1px #7c776b, 0 0 0 2px #b3af93, 0 0 0 3px #958e5d, 0 0 0 4px #746a4a, 0 0 0 5px #b6a173;
          box-shadow: 0 0 0 1px #7c776b, 0 0 0 2px #b3af93, 0 0 0 3px #958e5d, 0 0 0 4px #746a4a, 0 0 0 5px #b6a173;
  font-family: 'M PLUS 1c Rounded';
}

#chara-zone > div div.plate div.skill div.skill-name {
  margin: 0;
  padding: 3px 5px;
  background: linear-gradient(135deg, #f3dab4 0%, #f3dab4 100%);
  color: #503c1b;
}

#chara-zone > div div.plate div.skill div.skill-rate::before {
  content: "発動率: ";
}

#chara-zone > div div.plate div.skill div.skill-rate {
  padding: 5px 10px;
  color: #f7cfab;
  font-size: 12pt;
  text-align: right;
}

#chara-zone > div div.plate div.skill div.skill-text {
  padding: 8px 5px;
  color: #fefaee;
  font-size: 14pt;
  line-height: 20px;
}

#chara-zone > div div.abilities {
  margin-left: 400px;
}

#chara-zone > div div.abilities div.ability {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 5px 4px 50px;
  min-height: 50px;
  background: 5px center no-repeat;
}

#chara-zone > div div.abilities div.ability-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chara-zone > div div.abilities span.note {
  display: inline-block;
  color: #934e10;
  font-size: 14pt;
  font-family: 'M PLUS 1c Rounded';
}

#chara-zone > div div.abilities div:not(:last-child) {
  border-bottom: solid 2px #8a7e25;
}

/*-------------------------*/
#basic-filter .body, #ability-filter .body {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 30px 30px 0 30px;
  padding: 30px 30px 10px 30px;
  width: calc(100% - 120px);
  height: calc(100% - 170px);
  background: #e9e6d0;
  -webkit-box-shadow: 0 0 1px 1px #4b3818;
          box-shadow: 0 0 1px 1px #4b3818;
}

#basic-filter .body .cate, #ability-filter .body .cate {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#basic-filter .body .cate .head, #ability-filter .body .cate .head {
  display: inline-block;
  padding-right: 20px;
  width: 130px;
  font-size: 14pt;
  text-align: right;
}

#basic-filter .body .cate .button-group, #ability-filter .body .cate .button-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  height: 35px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 1px #535152, 0 0 0 2px #282a23, 0 0 0 3px #535152;
          box-shadow: 0 0 0 1px #535152, 0 0 0 2px #282a23, 0 0 0 3px #535152;
}

#basic-filter .body .cate .button-group .button, #ability-filter .body .cate .button-group .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0 15px;
  min-width: 70px;
  height: 35px;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  font-size: 14pt;
  text-shadow: 2px 1px 0 #000, 0 0 15px #ccc;
}

#basic-filter .body .cate .button-group .button:hover, #ability-filter .body .cate .button-group .button:hover {
  text-shadow: 2px 1px 0 #000;
}

#basic-filter .body .cate .button-group .button:first-child, #ability-filter .body .cate .button-group .button:first-child {
  border-radius: 2px 0 0 2px;
}

#basic-filter .body .cate .button-group .button:last-child, #ability-filter .body .cate .button-group .button:last-child {
  border-radius: 0 2px 2px 0;
}

#basic-filter .body .cate .button-group .button:not(:last-child), #ability-filter .body .cate .button-group .button:not(:last-child) {
  border-right: solid 1px #777;
}

#basic-filter .foot, #ability-filter .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#basic-filter .foot .push-button, #ability-filter .foot .push-button {
  margin: 12px 35px;
}

#basic-filter .foot .push-button.confirm, #ability-filter .foot .push-button.confirm {
  --letter-space: 30px;
  padding: 0;
  letter-spacing: var(--letter-space);
  text-indent: var(--letter-space);
}
/*# sourceMappingURL=chara.css.map */